@import 'tailwindcss';

@layer base {
	body {
		width: 100%;
		min-height: 100vh;
		font-family: Arial, Helvetica, sans-serif;
	}
}

.bg-color {
	background: linear-gradient(
		to bottom right,
		rgb(209 128 130),
		rgb(124 64 90),
		rgb(105 24 136)
	);
}
